# Tabular Data
A **row** represents one record of data. It can be uniquely identified by an **index**. 

The **columns** define our data types. Columns can contain any type of data, but the values of any particular column are all the same type. Column names are also indexes.

In [1]:
import pandas as pd
import random

Pandas has two main data types; Series and Dataframe

## Series - Pandas Columnar Data
One Dimensional

In [2]:
[random.uniform(0, 9999) for _ in range(5)]

[3971.9572761816053,
 4511.782854128522,
 2028.3177466191598,
 5248.643328420496,
 4964.489525536171]

In [3]:
S = pd.Series([random.uniform(0, 9999) for _ in range(5)])
S

0    9178.043374
1    8073.058777
2    3207.322702
3     279.771742
4    8027.922065
dtype: float64

In [4]:
type(S)

pandas.core.series.Series

In [5]:
S.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
# You can slice Series objects like a list
S[0]

9178.0433738668362

In [7]:
S[1:3]

1    8073.058777
2    3207.322702
dtype: float64

You can set the index

In [ ]:
# T = pd.Series([random.uniform(0, 9999) for _ in range(5)], index=['one', 'two', 'three', 'four', 'five'])
# T

In [ ]:
# T.index

In [ ]:
# T['one']

In [ ]:
# T['two':'four']

## Dataframes - Pandas Tabular Data
Two Dimensional

In [ ]:
# Our list of dictionaries
users = [
    {'first_name': 'Billy', 'last_name': 'Bob', 'department': 'Facilities', 'permanent_record_id': 123},
    {'first_name': 'Sally', 'last_name': 'Mae', 'department': 'Services', 'permanent_record_id': 124},
    {'first_name': 'Suzy', 'last_name': 'Queue', 'department': 'Engineering', 'permanent_record_id': 125},
    {'first_name': 'Bub', 'last_name': 'Ba', 'department': 'Management', 'permanent_record_id': 126}
]
users

In [ ]:
df = pd.DataFrame(users)
df

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
df.columns

## Get Item

Dataframes resolve to columns

In [ ]:
# using the [] operator
df['first_name']

Columns resolve to values

In [ ]:
df['first_name'][1]

Dataframe columns can also be accessed directly as **attributes**.

In [ ]:
df.first_name

## Sales Data

In [ ]:
sales = pd.read_csv('data/sales.csv', header=0)

In [ ]:
sales.head()

### Filtering

In [ ]:
sales['COUNT'][:10]

In [ ]:
(sales['COUNT'] > 5000)[:10]

In [ ]:
sales[sales['COUNT'] > 5000].head()

In [ ]:
sales[sales['AGENT'] == 'Alice'].head()

### Adding a TOTAL_SALE column
Dataframes are mutable

In [ ]:
sales['TOTAL_SALE'] = sales['COUNT'] * sales['PRICE']

In [ ]:
sales.head()

### Changing SELL_DATE from string to timestamp

#### Selecting data by index
.ix can use mixed indexes. .loc is for label based. .iloc is for integer based.

In [ ]:
sales.ix[0,'SELL_DATE']

More about indexing: http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [ ]:
type(sales.ix[0,'SELL_DATE'])

In [ ]:
sales['SELL_DATE'] = pd.to_datetime(sales['SELL_DATE'])

In [ ]:
sales.head()

In [ ]:
sales.ix[0,'SELL_DATE']

In [ ]:
sales.ix[0,'SELL_DATE'].year

In [ ]:
sales[sales.SELL_DATE.dt.year == 2015].head()

## Group By Year and Quarter

In [ ]:
sales.SELL_DATE.dt.year[:10]

In [ ]:
sales.SELL_DATE.dt.quarter[:10]

In [ ]:
totals = sales.groupby([sales.SELL_DATE.dt.year,sales.SELL_DATE.dt.quarter])['TOTAL_SALE'].sum()
totals

In [ ]:
totals.index

## Questions
- What do we mean by rectangular data?
- How do rows and columns relate to our list of dictionaries?
- What is an index?
- How do data types relate to rows and columns?